* {
  margin: 0;
  padding: 0;
}

.input {
  margin: 30px;
  display: inline-block;
}

form {
  width: 200px;
  margin-left: 50px;
  text-align: center;
}

fieldset {
  border-radius: 10px;
  border-color: orange;
  background-color: rgba(0, 0, 0, 0.239);
}

form label {
  display: block;
  margin: 10px;
}

form label input {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  outline: none;
  padding: 5px;
  border-color: orange;
  margin-top: 10px;
}

.wrong {
  border-color: red;
}

.correct {
  border-color: green;
}
